.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 15px;
}
.header__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   margin: 0 0 84px;
   border-bottom: 1px solid #0000004e;
}
.header__logo img {
   height: 50px;
}
.header__info {
   text-align: right;
   font-size: 22px;
   color: black;
}
.header__text {
   margin: 0 0 5px 0;
   text-decoration: none;
}
.header__tel {
   font-size: 24px;
   color: black;
   text-decoration: none;
}
a {
   color: blue;
}
.text__info{
   font-size: 18px;
   margin-bottom: 25px;
}
.text__info2{
   font-size: 18px;
   margin-bottom: 80px;
}
.text__info--time{
   max-width: 800px;
   text-align: left;
}

.main__tittle {
   font-size: 40px;  
   max-width: 500px;
}
.main__img {
   display: block;
   max-width: 1200px; 
   padding: 5px;
   margin: 5px;
}
.main__list{
   list-style: disc;
   margin-left: 20px;
   margin-bottom: 10px;
}
img {
   max-width: 1200px;
   height: auto;
}
ul li {
   font-size: 18px;
   margin-bottom: 10px;
}
ul li::marker {
   color: rgb(0, 98, 255);
}
video {
   max-width: 1200px;
   height: auto;
   margin-bottom: 30px;
}
.main__text--free{
   margin-bottom: 100px;
}
.footer {
   background-color: black;
}
.footer__content {
   height: 100%;
   background-color: rgb(237 232 251);
   margin-top: 100px;
   text-align: center;
   align-items: center;
}
.header__logo {
   padding-top: 56px;
   padding-bottom: 32px;
}
.footer__info {
   border-bottom: 1px solid #0000004e;
}
.footer__list {
   text-decoration: none;
   list-style-type: none;
   display: flex;
   justify-content: center;
   gap: 50px;
}
.footer__listli {
   text-decoration: none;
   margin-bottom: 40px;
}
.footer__text {
   font-size: 18px;
   color: black;
   height: 77px;
   padding: 10px;
}
.footer__link {
   text-decoration: none;
   color: black;
}