.calendar {
   height: 30%;
   width: 40%;
   border-collapse: collapse;
   font-family: sans-serif;
   text-align: center;
}

.calendar__title {
   font-size: 30px;
   font-weight: 700;
   padding: 10px;
   border: 2px solid #000;
}

.calendar__header,
.calendar__cell {
   border: 2px solid #000;
   padding: 8px;
   font-size: 30px;
}

.calendar__header--weekend,
.calendar__cell--weekend {
   color: red;
}
