.main {
    height: 100vh;
    background-image: url(/images/image-menu.webp);
    background-repeat: no-repeat; ;
    background-position: top center;
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 180px;
}
.main h1 {
    font-size: 4.14rem;
    margin-bottom: 24px;
}
.main a {
    text-decoration: none;
    color: white;
    padding: 16px 30px;
    margin-top: 30px;
    line-height: 155%;
    background-color: rgba(8, 108, 249, 1);
    border-radius: 4px;
    transition: .1s;
}
.main a:hover {
    background-color: #21a2dd;
    transform: translate(20px, 20px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.main p {
    font-size: 1.14rem;
    line-height: 155%;
    width: 867px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 47px;
}
.info {
    margin-bottom: 144px;
}
.info__inner {
    display: flex;
    justify-content: space-between;
    padding: 56px 88px;
    margin-top: -40px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
}
.info_item {
    display: flex;
    gap: 24px;
    align-items: center;
}
.info_item p {
    color: #086cf9;
    font-size: 11px;
}
span {
    font-weight: bold ;
    font-style: normal;
    font-size: 24px;
}
.odin ul  {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: -50px;
}
.odin ol li h3 a {
    display: flex;
    font-size: 32px;
    justify-content: flex-start !important;
    text-align: center;
    margin-left: -20px;
    color: aliceblue;
}
.odin ol {
    display: flex;
    font-size: 32px;
    text-align: center;
    color: aliceblue;
    margin-bottom: -52px;
    margin-top: 13px;
}
.odin {
    display: flex;
    justify-content: space-between;
}
.one {
    width: 519px;
    text-align: left;
}
.one h2 {
    margin-bottom: 24px;
    font-size: 48px;
}
.one p {
    margin-bottom: 16px;
    width: 478px;
    height: 125px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 100;
}
.one h3 {
    margin-bottom: 32px;
    width: 489px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}
.two {
    background-image: url(/images/images5.jpg);
    background-repeat: no-repeat;
    background-position: right ;
    background-size: cover;
    width: 595px;
    height: 433px;
    position: relative;
    display: inline-block;
    border-radius: 4px ;
}
.two a  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 28px;
    background-color: white;
    border: none;
    border-radius: 160%;
    cursor: pointer;
    transition: 5s;
}
.two a:hover {
    transform: rotate(180deg);
}
.four {
    display: flex;
    gap: 50px;
    margin-bottom: 134px;
}
.one a  {
    text-decoration: none;
    color: white;
    padding: 16px 32px;
    margin-top: 30px;
    line-height: 155%;
    background-color: rgba(8, 108, 249, 1);
    border-radius: 4px;
    transition: .2s;
}
.one a:hover {
    background-color: #21a2dd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.transform {
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.transform div {
    flex: 0 0 290px;
    height: 290px;
    border-radius: 12px;
    background-color: #ae0606;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    transition: 1s;
}
.transform:hover .translate {
    transform: translate(-20px, -20px);
    background-color: #1313c5;
    border-radius: 50%;
}
.transform:hover .rotate {
    transform: rotate(-180deg);
}
.transform:hover .scale {
    transform: scale(.8);
}
.transform:hover .skew{
    transform: skew(-20deg, 0);
}
.rebok {
    width: 423px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}
.rebok h2 {
    margin-bottom: 12px;
    font-size: 48px;
}
.rebok p {
    font-size: 16px;
    line-height: 155%;
    font-weight: 300;
}
.work_it {
    align-items: center;
    width: 248px;
}
.work_it img {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}
.tima {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 53px;
}
.tima {
  display: flex;
  justify-content: center;
}
.tima p {
    font-size: 14px;
    line-height: 155%;
    font-weight: 300;
}
.tima h3 {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: bold;
}
.work_it {
  text-align: center;
}
.work {
    margin-bottom: 128px;
}
.online {
    background-color: #d3e5fe;
}
.online-course h2 {
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 44px;
}
.online-course {
    padding-top: 60px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.online-course p {
    font-size: 16px;
    font-weight: 400;
    width: 674px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
}
.cube {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: repeat(2, 483px);
    gap: 20px;
    justify-content: center;
}
.cube-3{
    margin: 24px;
}
.cube-2:hover {
    transform: translate(-5px, -5px);
    background-color: #e3faff;
}
.cube-2 {
    background-color: #fff;
    border-radius: 10px;
    align-items: center;
    gap: 15px;
    transition: .2s;
}
.inform2 {
    margin: 24px 20px 24px 18px ;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.inform {
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    align-items: center;
    gap:20px;
    padding-bottom: 24px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.description {
    width: 320px;
    font-weight: 300;
    height: 66px;
    margin: 0 auto;
    text-align: left;
}
.atribut {
    display: flex;
    justify-content: center;
    align-items: center;
}
.atribut a {
    text-decoration: none;
    color: white;
    padding: 16px 33px;
    background-color: #086cf9;
    border-radius: 4px;
    margin-bottom: 61px;
     margin-top: 48px;
}