@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Bold.eot');
    src: url('DMSans18pt-Bold.eot?#iefix') format('embedded-opentype'),
        url('DMSans18pt-Bold.woff2') format('woff2'),
        url('DMSans18pt-Bold.woff') format('woff'),
        url('DMSans18pt-Bold.ttf') format('truetype'),
        url('DMSans18pt-Bold.svg#DMSans18pt-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Regular.eot');
    src: url('DMSans18pt-Regular.eot?#iefix') format('embedded-opentype'),
        url('DMSans18pt-Regular.woff2') format('woff2'),
        url('DMSans18pt-Regular.woff') format('woff'),
        url('DMSans18pt-Regular.ttf') format('truetype'),
        url('DMSans18pt-Regular.svg#DMSans18pt-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans 18pt';
    src: url('DMSans18pt-Medium.eot');
    src: url('DMSans18pt-Medium.eot?#iefix') format('embedded-opentype'),
        url('DMSans18pt-Medium.woff2') format('woff2'),
        url('DMSans18pt-Medium.woff') format('woff'),
        url('DMSans18pt-Medium.ttf') format('truetype'),
        url('DMSans18pt-Medium.svg#DMSans18pt-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

